<div class="mt-4 mb-4 container">
    <div class="row">
        <div class="col-lg-3">
            <p>Side bar</p>
        </div>
        <div class="col-lg-9">
            <img src="/{{film.image}}" alt="{{film.filmName}}" class="detail-film__image"/>
            <h1 class="detail-film__title">{{film.filmName}}</h1>
            <h2 class="detail-film__category">Thể loại: {{filmName.Category.categoryName}}</h2>
            <h3 class="detail-film__timeShow">Lịch chiếu : {{film.Allcode.value}}</h3>
            <p class="detail-film__desc">{{film.description}}</p>
        </div>
    </div>
</div>